<div class=container>
  <div class=row>
     <div class="card card-signin my-5">
    <div class="card-body">

      <form class="form-signin" [formGroup]="loginForm"   (ngSubmit)="onLogin()" >
       <!-- (ngSubmit)="onSubmit()" > -->
    <div class="form-label-group">
  <input type="email" id="userName" formControlName="userName" class="form-control" placeholder="User Name" >
  <!--[ngClass]="{ 'is-invalid': submitted && f.userName.errors }" -->
    <label for="userName">User Name</label>
    <!-- <div *ngIf="submitted && userName.invalid" [ngClass]='red' class="error-message">  
        User Name required. 
      </div> -->
      <div *ngIf="submitted && userName.invalid" class="help-block">
           <div *ngIf="userName.invalid">User Name is required</div>
       </div>
    </div>  
   
  <!-- </div>-->
 

   <div class="form-label-group">
   <input type="password" id="password" formControlName="password" class="form-control" placeholder="Password"  >
   <!-- [ngClass]="{ 'is-invalid': submitted && f.password.errors }" -->
    <label for="password">Password</label>
<!-- submitted &&  -->
   <!-- <div *ngIf="submitted && password.errors" class="invalid-feedback">
           <div *ngIf="f.password.errors.required">Password is required</div>
       </div>
     --> <div *ngIf="submitted && password.invalid" class="help-block"> 
           <div *ngIf="password.invalid"> Password required. </div>
      </div> 
   </div>

               <div class="custom-control custom-checkbox mb-3">
                 <input type="checkbox" class="custom-control-input" id="customCheck1">
                 <label class="custom-control-label" for="customCheck1">Remember password</label>
               </div>
               <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
               <hr class="my-4">

             </form>

        </div>
        </div>
    </div>
    </div>
